html
  include includes/mapbox.pug
  include includes/styles.pug
  include includes/i18n.pug

  head
    title= title

    script.
      const guildId = "#{guildId}"
    script(
      src='/javascript/main.js'
      defer
    )
  body
    div#map(

    )
    div.discord-login.action-corner.top.left
      a.actionable(href=oauth_url,data-i18n='alphatown-discordlogin') Login with Discord

    div.hide.login-actions.action-corner.top.right
      span.actionable.drop-pin(data-i18n='alphatown-droppin-title-create') Drop your Pin
      span.actionable.show-pending.hide(data-i18n='alphatown-showpendingpins') Show Pending 

    form.modal#pin-edit.hide.form-group
      div.title-row
        div.title
          span(data-i18n='alphatown-pinedit-title-create') Creating Pin
        div.close-button
          span X
      div.form-row
        label(
          for='title'
          data-i18n='alphatown-pinedit-title-display'
        ) Title* (80)
        div.input-container
          input(
            name='title'
            placeholder='Cute title for others to see'
            maxlength=80
            required=true
          )
      div.form-row
        label(
          for='desc'
          data-i18n='alphatown-pinedit-desc-display'
        ) Description (160)
        div.input-container
          textarea(
            name='desc'
            placeholder='Longer description for friends to read'
            rows=6
            maxlength=160
          )

      div.form-row
        label(
          for='image'
          data-i18n='alphatown-pinedit-image-display'
        ) Image*
        div.input-container
          input(
            name='image'
            type='file',
            accept='.png, .jpg, .jpeg'
            multiple=false
          )
      
      div.form-row.center
        span.trigger-coord-select(
          data-i18n='alphatown-pinedit-location-default-display'
        ) Click to choose location

      div.form-row.right
        button.submit-pin(
          data-i18n='alphatown-pinedit-submit-display'
        ) Submit

    div.avatar.hide
      img
      a.logout(href='/api/auth/logout') X