html
  include includes/mapbox.pug
  include includes/styles.pug
  head
    title= title

    script.
      const guildId = "#{guildId}"
    script(
      src='/javascript/main.js'
      defer
    )
  body
    h1= message
    div#map(

    )
    div.discord-login.action-corner.top.left
      a(href=oauth_url) Login with Discord

    div.discord-logout
      a(href='/auth/logout') Logout

    div.drop-pin.hide.action-corner.top.right
      span Drop your Pin

    div.modal#pin-edit.hide.form-group
      div.close-button
        span X
      div.form-row
        label(
          for='title'
        ) Title* (80)
        div.input-container
          input(
            name='title'
            placeholder='Cute title for others to see'
          )
      div.form-row
        label(
          for='desc'
        ) Description (160)
        div.input-container
          textarea(
            name='desc'
            placeholder='Longer description for '
            rows=6
          )

      div.form-row
        label(
          for='image'
        ) Image*
        div.input-container
          input(
            name='image'
            type='file',
          )