html
  include includes/mapbox.pug
  include includes/styles.pug
  head
    title= title

    script.
      const guildId = "#{guildId}"
    script(
      src='/javascript/main.js'
      defer
    )
  body
    h1= message
    div#map(

    )
    div.discord-login.action-corner.top.left
      a(href=oauth_url) Login with Discord

    div.discord-logout
      a(href='/auth/logout') Logout

    div.drop-pin.hide.action-corner.top.right
      span Drop your Pin

    div.modal#pin-edit.hide
      label(
        for='title'
      ) Title
      input(
        name='title'
        placeholder='Who lives here?'
      )
      textarea(
        placeholder='desc'
      )
      input(
        type='file',

      )