html
  include includes/mapbox.pug
  include includes/styles.pug
  head
    title= title

    script.
      const guildId = "#{guildId}"
    script(
      src='/javascript/main.js'
      defer
    )
  body
    h1= message
    div#map(

    )
    div.discord-login
      a(href=oauth_url) Login with Discord
