html
  include includes/mapbox.pug
  include includes/styles.pug
  head
    title= title

    script.
      const guildId = "#{guildId}"
    script(
      src='/javascript/main.js'
      defer
    )
  body
    h1= message
    div#map(

    )
    div.discord-login.action-corner.top.left
      a.actionable(href=oauth_url) Login with Discord

    div.hide.login-actions.action-corner.top.right
      span.actionable.drop-pin Drop your Pin
      span.actionable.show-pending.hide Show Pending 

    form.modal#pin-edit.hide.form-group
      div.title-row
        div.title
          span Creating Pin
        div.close-button
          span X
      div.form-row
        label(
          for='title'
        ) Title* (80)
        div.input-container
          input(
            name='title'
            placeholder='Cute title for others to see'
            maxlength=80
            required=true
          )
      div.form-row
        label(
          for='desc'
        ) Description (160)
        div.input-container
          textarea(
            name='desc'
            placeholder='Longer description for friends to read'
            rows=6
            maxlength=160
          )

      div.form-row
        label(
          for='image'
        ) Image*
        div.input-container
          input(
            name='image'
            type='file',
            accept='.png, .jpg, .jpeg'
            multiple=false
          )
      
      div.form-row.center
        span.trigger-coord-select Click to choose location

      div.form-row.right
        button.submit-pin Submit

    div.avatar.hide
      img
      a.logout(href='/api/auth/logout') X