html

  head
    title='Hierophant'
    script(
      src='/javascript/main.js'
      defer
    )
  body
    h1='Hierophant'
    h2='A site to integrate maps with discord'
    h3='Currently only serving specific communities'